.form{
    background-color: #AD9BE9;
    width: 780px;
    max-height: 287px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.addExpense{
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputBox{
    display: flex;
    flex-wrap: wrap;
}
.btnBox {

    display: flex;
    justify-content: flex-end;

}